extends ../layout
block body
  .jumbotron.hero-spacer
    .row
      p
        img(src="http://wiki.medellinvivelamusica.com/_media/logo.png")
      h1 Inventario Casa de Música Guayabal
      ul.nav.nav-tabs
        li
          a(href="ordenAlfabetico") Orden Alfabético
        li
          a(href="ordenPrecio")   Ordenar por  precio unitario
        li
          // TODO: Aprender a multiplicar en mongo y el controlador
           // a(href="ordenPrecioTotal")   Ordenar por  precio total
      table.table
        tbody
        each item in inventario
          tr
              td
                img(src="#{item.img}", width=140, height=120)
              td
               b #{item.item}<br>
               i #{item.moneda1}#{item.precio1} <br>
               b Cantidad: #{item.quantity}<br>
               // debo hacer la multiplicación en el controlador
               // para poder ordenar aca
               - var qty = item.quantity;
               - var price = item.precio1;
               - var total = qty*price;

               small   #{item.id}<br>
               a(href="editarDetalle/#{item.id}")  editar <br>
               b Guia de Compra:
               a(href="#{item.urlInfo1}") #{item.urlInfo1}

              td
                b Especificaciones:
                small
                -var json = JSON.stringify(item.specs)
                -var parse = JSON.parse(json)
                  each val, key in parse
                    <br>
                    small
                      b
                        i  #{key}:
                      small #{val}
              td
                b Sugerencias:<br>
                small Referencia: #{item.referencia1}<br>
                small Marca: #{item.marca1}<br>
                small URL Fabricante:
                    a(href="#{item.urlFabricante1}") #{item.urlFabricante1}<br>
                small urlVenta:
                  a(href = "#{item.urlVenta01}") #{item.urlVenta01}<br>
